
           
          <div
            class="w-full flex flex-col md:flex-row bg-sky-100 justify-evenly md:justify-between items-center min-h-screen px-10">
            <div class=" flex flex-col h-96">
              <h1><span class="font-poppins text-black text-6xl tracking-wide">Ask Directly to <br> the <span
                    class="text-blue-900 font-bold ">Experts</span></span></h1>
              <div [routerLink]="['/userprofile']"
                class="border mt-4 font-poppins text-blue-900 border-blue-900 hover:bg-blue-900 duration-300 hover:text-white rounded-full font-bold px-6 py-2 flex justify-center gap-2 cursor-pointer">
                <div>
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div>
                  Find Doctors here..
                </div>
              </div>
            </div>
        
          </div>
        <!-- div>
        </div>
        </div> -->
        

